.default-player {
	font-family: Verdana, Geneva, sans-serif;
}

.default-editor {
	font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

.monospaced {
	font-family: monospace;
	font-size: 1em;
}

.sans-serif {
	font-family: sans-serif;
	font-size: 1em;
}

.serif {
	font-family: serif;
	font-size: 1em;
}

.open-dyslexic {
	font-family: "OpenDyslexic";
	font-size: 1em;
}

@font-face {
font-family: "OpenDyslexic",
url("../../resources/OpenDyslexic-Regular.otf") format("opentype"),
}